*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
    font-family:Arial,sans-serif;
}

canvas{
    background:#555;
    border:3px solid #fff;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,.6);
}
#controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

#controls button{
    width: 80px;
    height: 80px;
    font-size: 35px;
    border: none;
    border-radius: 50%;
    background: #2196f3;
    color: white;
    font-weight: bold;
}

#controls button:active{
    background: #0d6efd;
}
